@import "mixins";

.Block1{
  min-height: 90vh;
  position: relative;
  background: url("../images/Background.png");

  & .inner{
    position: relative;
    height: 70vh;
    display: flex;

    & > .img1{
      height: 180px;
      position: absolute;
      bottom: 30px;
      left: -60px;
    }

    & > .form-block{
      min-width: 445px;
      max-width: 445px;
      z-index: 1;
      h1{
        font-style: normal;
        color: #333333;
      }
      p{
        @include textGreyColor;
      }
      p.hint{
        color: $veryGrayColor;
        font-size: 14px;
        margin: 5px 0;
      }

      form{
        @include whiteCard;
        h3{
          margin-top: 0;
        }
      }
    }



    & > .images-block{
      position: relative;
      width: calc(100% - 445px);
      display: flex;
      justify-content: center;
      & > .img2{
        height: 167px;
        position: absolute;
        bottom: 100px;
        left: -30px;
      }
      & > .img4{
        height: 200px;
        position: absolute;
        bottom: 20px;
        right: 100px;
        z-index: 1;
      }
      & > .img5{
        height: 200px;
        position: absolute;
        bottom: 100px;
        right: 30px;
      }
      & > .images-block-middle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        height: 100%;
        width: 200px;
        & > img{
          width: 100px;
          &:first-child{
            top: -100px;
            position: absolute;
          }
          &:nth-child(2){
            position: absolute;
            top: 30px;
            min-width: 700px;
            height: calc(100% - 30px);
          }
          &:nth-child(3){
            position: absolute;
            bottom: 0;
          }
        }
      }
    }
  }

}




