@import "mixins";

.Block1{
  min-height: 90vh;
  position: relative;
  background: url("../images/Background.png");
  overflow: hidden;

  & .inner{
    border: 5px solid black;
    position: relative;
    height: 70vh;
    display: flex;

    & > .img1{
      height: 180px;
      position: absolute;
      bottom: 30px;
      left: -60px;
    }


    & > div{
      &.form-block{
        min-width: 445px;
        max-width: 445px;
        border: 5px solid red;
        h1{
          font-style: normal;
          color: #333333;
        }
        p{
          @include textGreyColor;
        }
      }
      &.images-block{
        border: 5px solid orange;
        position: relative;
        width: calc(100% - 445px);
        display: flex;
        justify-content: center;
        & > .img2{
          height: 167px;
          position: absolute;
          bottom: 100px;
          left: -30px;
        }
        & > .img4{
          height: 200px;
          position: absolute;
          bottom: 20px;
          right: 100px;
          z-index: 1;
        }
        & > .img5{
          height: 200px;
          position: absolute;
          bottom: 100px;
          right: 30px;
        }
        & > .images-block-middle{
          border: 5px solid blue;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: relative;
          height: 100%;
          width: 200px;
          & > img{
            width: 100px;
            border: 1px dashed;
            &:first-child{
              top: -100px;
              position: absolute;
            }
            &:nth-child(2){
              border: 4px dashed red;
              position: absolute;
              top: 30px;
              min-width: 700px;
              height: calc(100% - 30px);
            }
            &:nth-child(3){
              position: absolute;
              bottom: 0;
            }
          }
        }
      }
    }
  }
}




