@import "mixins";

.Block1{
  min-height: 90vh;
  position: relative;
  background: url("../images/Background.png");

  & .inner{
    position: relative;
    height: 70vh;
    display: flex;
    @include tablet{
      flex-direction: column-reverse;
    }

    & > .img1{
      height: 180px;
      position: absolute;
      bottom: 30px;
      left: -60px;
    }

    & > .form-block{
      min-width: 445px;
      max-width: 445px;
      z-index: 1;
      h1{
        font-style: normal;
        color: #333333;
      }
      p.hint{
        @include textGreyColor;
        font-size: 14px;
        margin: 5px 0;
        position: relative;
        svg{
          position: absolute;
        }
        span{
          display: block;
          margin-left: 20px;
        }
      }

      form{
        @include whiteCard;
        h3{
          margin-top: 0;
        }
      }
    }

    & > .images-block{
      position: relative;
      width: calc(100% - 445px);
      display: flex;
      justify-content: center;
      background: url("../images/block1/3.merged.png") center top no-repeat;
      & > .img2{
        height: 167px;
        position: absolute;
        bottom: 100px;
        left: -30px;
      }
      & > .img3-3{
        height: 80px;
        position: absolute;
        bottom: 0;
        right: 42%;
      }
      & > .img4{
        height: 200px;
        position: absolute;
        bottom: 20px;
        right: 100px;
        z-index: 1;
      }
      & > .img5{
        height: 200px;
        position: absolute;
        bottom: 100px;
        right: 30px;
      }

    }
  }


}




