@import "mixins";

.Block1{
  min-height: 90vh;
  position: relative;
  background: url("../images/Background.png") no-repeat;

  & .inner{
    position: relative;
    display: flex;

    @include tablet{
      flex-direction: column-reverse;
      align-items: center;
    }

    & > .img1{
      height: 180px;
      position: absolute;
      bottom: 30px;
      left: -60px;
      display: none;
      @include tablet{
        display: none;
      }
    }

    & > .form-block{
      min-width: 445px;
      max-width: 445px;
      @include tablet{
        min-width: 100%;
        max-width: 100%;
        text-align: center;
      }
      z-index: 1;
      h1{
        font-style: normal;
        color: #333333;
      }
      p.hint{
        @include textGreyColor;
        font-size: 14px;
        margin: 5px 0;
        position: relative;
        svg{
          position: relative;
          top: 2px;
          left: -2px;
        }
      }

      form{
        @include whiteCard;
        h3{
          margin-top: 0;
        }
      }
    }

    & > .images-block{
      position: relative;

      min-height: 500px;
      width: calc(100% - 445px);
      @include tablet{
        min-height: 250px;
        width: 100%;
      }
      display: flex;
      justify-content: center;
      background: url("../images/block1/3.merged.png") center top no-repeat;
      & > .img2{
        height: 167px;
        position: absolute;
        bottom: 100px;
        left: -30px;
        @include tablet{
          bottom: 0;
        }
      }
      & > .img3-3{
        height: 80px;
        position: absolute;
        bottom: 0;
        right: 42%;
        @include tablet{
          display: none;
        }
      }
      & > .img4{
        height: 200px;
        @include tablet{
          height: 150px;
        }
        position: absolute;
        bottom: 20px;
        right: 100px;
        z-index: 1;
      }
      & > .img5{
        height: 200px;
        @include tablet{
          height: 150px;
        }
        position: absolute;
        bottom: 100px;
        right: 30px;
      }

    }
  }


}




